<%= form_for @genre do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Create Genre" %>
<% end %>

<div class="container-md create_blog_button">
        <%= button_to "Create New Book Review", new_book_review_path, method: :get %>
      </div>

<!-- Display existing genres -->
<% if @existing_genres.any? %>
  <h2>Existing Genres:</h2>
  <ul>
    <% @existing_genres.each do |existing_genre| %>
      <li>
        <%= existing_genre.name %>
        <%= link_to "Show Options", genre_path(existing_genre) %>
      </li>
    <% end %>
  </ul>
<% end %>