<div class="container-md">
    <div class="row">
        <div class="col-md-7">

<h1>Book Review</h1>

<div class="container-md create_blog_button">
    <%=button_to "Create New Book Review", new_book_review_path, method: :get %>
</div>

<% @book_review.each do |post|%>
    <h2><%= link_to post.title, book_review_path(post) %></h2>
    <p><%= post.genre %></p>
    <p><%= post.rating %></p>
    <p><%= post.body %></p>
    <p><%= post.notes %></p>
<% end %>
        </div>
    </div>
</div>