<div class="container-md">
  <div class="row">
    <div class="col-md-7">

      <h1>Book Reviews</h1>

      <!-- Create New Genre button -->
      <%= link_to "Genre Maintenance", new_genre_path %>

      <!-- Create New Author button -->
      <%= link_to "Author Maintenance", new_author_path %>

      <div class="container-md create_blog_button">
        <%= button_to "Create New Book Review", new_book_review_path, method: :get %>
      </div>

      <%= render 'search_form' %>

      <ul>
        <% @book_reviews.each do |book_review| %>
          <li><%= link_to book_review.title, book_review_path(book_review) %></li>
        <% end %>
      </ul>

      <!-- Filter form for selecting genres -->
      <%= form_tag(book_reviews_path, method: :get) do %>
        <div class="form-group">
          <%= label_tag 'genre_ids[]', 'Select Genres:' %>
          <%= select_tag 'genre_ids[]', options_from_collection_for_select(@genres, 'id', 'name', @selected_genres), multiple: true, class: 'form-control' %>
          <label for="select_all_genres">
            <input type="checkbox" id="select_all_genres" name="select_all_genres"> Select All Genres
          </label>
        </div>
        <%= submit_tag 'Filter', class: 'btn btn-primary' %>
      <% end %>

      <!-- All Book Reviews -->
      <!-- All Book Reviews -->
      <h2>All Book Reviews</h2>
      <% @all_reviews.each do |post| %>
        <% if @selected_genres.empty? || (post.genre_ids & @selected_genres.map(&:to_i)).any? %>
          <div class="card mb-4">
            <div class="card-body">
              <h3><%= link_to post.title, book_review_path(post) %></h3>
              <p>Rating: <%= post.rating %></p>
              <p><%= post.body %></p>
              <p>Genres: <%= post.genres.pluck(:name).join(', ') %></p>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#select_all_genres').change(function() {
      if ($(this).is(':checked')) {
        $('select[name="genre_ids[]"] option').prop('selected', true);
      } else {
        $('select[name="genre_ids[]"] option').prop('selected', false);
      }
    });
  });
</script>