<div class="container-md">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <!-- Buttons for Edit and Delete -->
      <%= button_to "Edit", edit_book_review_path(@book_review), method: :get %>
      <%= button_to "Delete", book_review_path(@book_review), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <a href="<%= book_reviews_path %>" class="btn btn-primary">Home</a>

<div class="row">
  <!-- Book Image Column -->
  <div class="col-md-3 book_review_book_image"> 
    <% if @book_review.image.attached? %>
      <%= image_tag @book_review.image %>
    <% end %>
    <p><a href="<%= @book_review.link %>" class="btn btn-primary" target="_blank">Buy on Amazon</a></p>
  </div>

  <!-- Content Column -->
  <div class="col-md-9 book_review_show_content_column">
    <div class="text-center">
      <!-- Title -->
      <h1 class="book_review_show_title"><%= @book_review.title %></h1>
    </div>

    <div class="row mb-3"> <!-- Added margin-bottom to create space between author and release date -->
      <div class="col-md-6 col-12 text-end">
        <!-- Author -->
        <p class="book_review_show_author">By <%= @book_review.authors.pluck(:name).join(', ') %></p>
      </div>
      <div class="col-md-6 col-12 text-start">
        <!-- Release Date -->
        <% if @book_review.release_date.present? %> 
          <p class="book_review_show_release_date">Release Date: <%= @book_review.release_date.strftime('%b %d, %Y') %>
          </p>
        <% end %>
      </div>
    </div>

    <div class="text-center">
      <!-- Description Title -->
      <h2 class="text-center book_review_show_description_title"><%= @book_review.description_title %></h2> 
    </div>
    
    <!-- Add the tab structure here -->
      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="body-tab" data-toggle="tab" href="#body" role="tab" aria-controls="body" aria-selected="true">Review</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- Body Tab Content -->
        <div class="tab-pane fade show active" id="body" role="tabpanel" aria-labelledby="body-tab">
          <div class="">
            <p><%= @book_review.body %></p>
          </div>
        </div>

        <!-- Notes Tab Content -->
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          <p><%= @book_review.notes %></p>
        </div>
      </div>

    <div class="container mt-3 book_review_show_book_misc_details"> <!-- Added margin-top to separate container from the content above -->
      <div class="row">
        <div class="col-md-4">
          <!-- First Container Content -->
          <% if @book_review.release_date.present? %>
            <p class="book_review_show_release_date">
              Release Date: <%= @book_review.release_date.strftime('%b %d, %Y') %>
            </p>
          <% end %>
          <p>ISBN: <%= @book_review.isbn %></p>
        </div>
        <div class="col-md-4">
          <p>Page Count: <%= @book_review.page_count %></p>
          <p>Publisher: <%= @book_review.publisher %></p>
        </div>
        <div class="col-md-4">
          <% if @book_review.review_posted_date.present? %>
            <p>Review Posted Date: <%= @book_review.review_posted_date.strftime('%b %d, %Y') %>
            </p>
          <% end %>
          <p>Genres: <%= @book_review.genres.pluck(:name).join(', ') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#myTabs a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });
</script>