<div class="container text-center">
  <h1>Portfolio</h1>
</div>

<div class="container-fluid text-center">
    <div class="col">
      <%= link_to "New portfolio", new_portfolio_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
</div>

<div class="container">
  <div class="row">
    <% @portfolios.each_with_index do |portfolio, index| %>
      <div class="col-md-3"> <!-- Use col-md-3 to create four boxes in a row -->
        <div class="portfolio-item">
          <!-- Edit button container (initially hidden) -->
          <div class="portfolio-edit-button">
            <%= link_to "Edit", edit_portfolio_path(portfolio), class: 'btn btn-primary' %>
          </div>
          
          <!-- Display photos (constant) -->
          <div class="portfolio-photos">
            <% if portfolio.photos.present? %>
              <% portfolio.photos.each do |photo| %>
                <% if photo.present? %>
                  <%= image_tag photo.url, alt: 'Portfolio Photo' %>
                <% else %>
                  <p>No photos available.</p>
                <% end %>
              <% end %>
            <% else %>
              <p>No photos available.</p>
            <% end %>
          </div>

          <!-- Portfolio content (initially hidden) -->
          <div class="portfolio-content">
            <!-- Portfolio title initially visible at the bottom -->
            <div class="portfolio-title">
              <%= portfolio.title %>
            </div>
            <p>
              <%= portfolio.about %>
            </p>
            <p>
              <strong>Built With:</strong>
              <%= portfolio.resources %>
            </p>
            <!-- Links to GitHub and Website -->
            <div class="portfolios-index-button-group">
              <%= link_to portfolio.github_link, class: 'btn btn-primary', target: "_blank" do %>
                <i class="fab fa-github"></i> GitHub
              <% end %>
              <%= link_to portfolio.website_link, class: 'btn btn-secondary', target: "_blank" do %>
                <i class="fas fa-external-link-alt"></i> View
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  