<%= form_for @author do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Create Author" %>
<% end %>

<div class="container-md create_blog_button">
        <%= button_to "Create New Book Review", new_book_review_path, method: :get %>
      </div>

<!-- Display existing author -->
<% if @existing_author.any? %>
  <h2>Existing Author:</h2>
  <ul>
    <% @existing_author.each do |existing_author| %>
      <li>
        <%= existing_author.name %>
        <%= link_to "Show Options", author_path(existing_author) %>
      </li>
    <% end %>
  </ul>
<% end %>