<!DOCTYPE html>
<%# a cookie will help you create a light and dark theme %>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tyler Fedrick Portfolio</title>

    <%# From BootStrap's Introduction Scripts. Needed to make Bootstrap work. %>
    <%= render 'shared/head_bootstrap_script' %>
    <%= render 'shared/header' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%# Adds Action Text %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload"%>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# This is for any partials that are not scripts. %>
    <%= render 'shared/navigation' %>
  </head>

  <body>
    <%# From BootStrap's Introduction. Scripts needed to make Bootstrap work. %> 
    <%= render 'shared/body_bootstrap_script' %>  

    <%# This is for the flash notices for the blog %> 
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <!-- Add Trix JavaScript Script -->
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
  </body>
</html>