<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tyler Fedrick Portfolio</title>

<%# From BootStrap's Introduction Scripts. Needed to make Bootstrap work. %>
<%= render 'shared/head_bootstrap_script' %>
<%= render 'shared/header' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <%# This is for any partials that are not scripts. %>
    <%= render 'shared/navigation' %>
  </head>

  <body>
   <%# From BootStrap's Introduction. Scripts needed to make Bootstrap work. %> 
<%= render 'shared/body_bootstrap_script' %>
 

    <%= yield %>

</body>


  </body>
</html>
